


.cell-row-even {
	background-color: #eee;
}

.cell-row-odd {
	background-color: #fff;
}



.col-no {
	width: 0.6cm;
	text-align: right;
	font-size: 0.8em;
}

.col-coa {
	width: 1.5cm;
	font-size: 0.8em;
	text-align: center;
}

.col-descr {
	font-size: 0.8em;
}

.col-amount {
	width: 2cm;
	text-align: right;
	font-size: 0.8em;
}

.col-hidden {
	display: none;
}
/*
.col-descr {

}
*/