/* CSS For printing purpose*/

.col-no {
	width: 1cm;
	text-align: center;
	vertical-align: top;
}

.col-descr {
	width: 13.5cm;
	text-align: left;
	vertical-align: top;
}

.col-value {
	width: 3cm;
	text-align: right;
	vertical-align: top;
}

.rowfoot {
	font-weight: bold;
}	


.report-footer-sign {
	width: 4cm;
	height: 3cm;
}


.sign-action {
	font-weight: bold;
	font-size: 0.8em;
}

.sign-position {
	font-size: 0.8em;
}
	
.sign-name {
	font-size: 0.8em;
}
