/* CSS For printing purpose*/

.row-item {
	padding-top: 1mm;
	padding-bottom: 1mm;
}

.col-no {
	width: 10mm;
	text-align: right;
	padding-right: 5mm;
	padding-left: 5mm;
}

.col-descr {
	font-style: italic;
	text-align: left;
	padding-right: 5mm;
	padding-left: 5mm;
}

.col-amount {
	width: 30mm;
	padding-right: 5mm;
	text-align: right;
	padding-right: 5mm;
	padding-left: 5mm;
}


.rowfoot {
	font-weight: bold;
}				
		
